/*
!.gitignore
/*/

!/.config/
/.config/*
!/.config/bspwm/
!/.config/sxhkd/
!/.config/polybar/
!/.config/.compton.conf
!/.config/scripts/
/.config/scripts/folders.txt

!/.config/nvim/
/.config/nvim/plugged

!/.config/mpd/
/.config/mpd/*
!/.config/mpd/mpd.conf

!/.config/ncmpcpp/
/.config/ncmpcpp/lyrics

!/.config/zathura/

!/.config/dunst/

!/.config/mpdnotify/
!/.config/mpdnotify/*
!/.config/mpdnotify/config

!/.config/beets/
/.config/beets/*
!/.config/beets/config.yaml

!/.fonts/
/.fonts/Noto
!.Xresources
!.xinitrc
!/.urxvt/
!.pqivrc
!.zshrc
!.zpreztorc
