/*
!.gitignore
/*/

!/.config/
/.config/*
!/.config/bspwm/
!/.config/sxhkd/
!/.config/polybar/
!/.config/.compton.conf
!/.config/scripts/
/.config/scripts/folders.txt
!/.config/fontconfig/
!/.config/palettes/
!/.config/.compton.conf

!/.config/nvim/
/.config/nvim/plugged

!/.config/mopidy/
/.config/mopidy/*
!/.config/mopidy/config

!/.config/ncmpcpp/
/.config/ncmpcpp/lyrics

!/.config/zathura/

!/.config/dunst/

!/.config/mpdnotify/
!/.config/mpdnotify/*
!/.config/mpdnotify/config

!/.config/beets/
/.config/beets/*
!/.config/beets/config.yaml

!/.config/ranger/
/.config/ranger/*
!/.config/ranger/rifle.conf

!/.fonts/
/.fonts/Noto
!.Xresources
!.xinitrc
!/.urxvt/
!.pqivrc
!.zshrc
!.zpreztorc
