/*
!.gitignore
/*/

!/.config/
/.config/*
!/.config/bspwm/
!/.config/sxhkd/
!/.config/wall.sh
!/.config/polybar/
!/.config/compton.conf
!/.config/fish/
!/.config/scripts/
/.config/scripts/folders.txt

!/.config/mpd/
/.config/mpd/*
!/.config/mpd/mpd.conf

!/.config/ncmpcpp/
/.config/ncmpcpp/lyrics

!/.config/zathura/

!/.config/beets/
/.config/beets/*
!/.config/beets/config.yaml

!.Xresources
!.xinit
!/.vim/
!.vimrc
!/.urxvt/
!.pqivrc

!MoscowSans.ttf
