!
!/\ \ /\ \
!\ `\`\/'/'  _ __   __    ____   ___   __  __  _ __  ___     __    ____
! `\/ > <   /\`'__/'__`\ /',__\ / __`\/\ \/\ \/\`'__/'___\ /'__`\ /',__\
!    \/'/\`\\ \ \/\  __//\__, `/\ \L\ \ \ \_\ \ \ \/\ \__//\  __//\__, `\
!    /\_\\ \_\ \_\ \____\/\____\ \____/\ \____/\ \_\ \____\ \____\/\____/
!    \/_/ \/_/\/_/\/____/\/___/ \/___/  \/___/  \/_/\/____/\/____/\/___/
!
!URxvt*font:     xft:tewi:size=14
!URxvt*boldFont: xft:tewi:bold:size=14
!URxvt*font:     xft:Terminus:size=12
!URxvt*boldFont: xft:Terminus:size=12
!URxvt*font:     xft:ProFont:size=13
!URxvt*boldFont: xft:ProFont:size=13
URxvt.font:     xft:scientifica:size=12
!URxvt*boldFont: xft:Gohufont:pixelsize=14

#include ".config/palettes/pepper.xresources"

!URxvt SETTINGS
!URxvt*dynamicColors: on
URxvt.internalBorder      : 34
URxvt.geometry            : 70x35
URxvt.thickness           : 5
URxvt*lineSpace: 2
URxvt*scrollBar: false
URxvt*saveLines: 1000
URxvt*cursorUnderline: false
URxvt*cursorBlink: true

! transparency
!URxvt.transparent: true
!URxvt*tintColor: #ffffff
!URxvt.shading: 40
!URxvt.blurRadius: 40
!URxvt*blurRadius: 5
!URxvt.transparent:   true
!URxvt*tintColor: #ffffff
!URxvt.shading:       15

!URxvt plugins
URxvt*perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common: default,matcher,keyboard-select,resize-font
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.keysym.M-Escape: perl:keyboard-select:activate
